.fab {
    color: #f9f9f9;
}

.fat {
    color: #f9f9f9;
}

.back{
    background-color: #262626;
}

.taco {
    color: #5189b7
}

html {
    min-height: 100%;
    overflow-y: scroll;
}    

html {
    background-color: #262626;
    background-repeat: repeat-y;
}

.fats {
    color: #f9f9f9;
    font-size: calc(3vw + 1vh + 2vmin);
    font-family: 'Rubik', sans-serif;
    /* text-shadow:
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0); */
}

.fatter {
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-size: calc(2vw + 1vh + 1vmin);
    margin-bottom: 30px;
    margin-top: 20px;

}